body {
    color: rgb(15, 15, 15);
    background: rgb(49,122,224);
    background: linear-gradient(90deg, rgba(49,122,224,1) 6%, rgba(110,8,184,1) 97%);
}
.box {
    position: relative;
    margin:0 auto;
    width: 10em;
    font-size: 30px;
}
header {
    text-align: center;
    height: 30px;
    font-size: 40px;
}
.result{
    color: #df9a97;
    float: left;
    line-height: 4em;
    text-align: end;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 9em;
    height: 2.8em;
}
button {
    border: 0;
    background: rgba(42, 50, 113, 0.28);
    color: #6cacc5;
    cursor: pointer;
    float: left;
    font: inherit;
    margin: 0.25em;
    width: 2em;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
